/* // jtb dir opacity ela hrf w tmchi mni doz loading*/

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

div {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div span {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 1;
     mix-blend-mode: difference;   /*  // katkhli colors machi fhal fhal  */
}

div::before {
    content: '';
    position: absolute;
    background-color: white;
    width: 60px;
    height: 100%;
    top: 2px;
    left: 0px;
    -webkit-animation: move 4s linear infinite;
    -webkit-animation: move 4s linear infinite;
    animation: move 4s linear infinite;
}

div span b {
    opacity: 0;
    color: white;
    -webkit-animation: move2 4s ease-in infinite;
    -webkit-animation: move2 4s ease-in infinite;
    animation: move2 4s ease-in infinite;
    font-weight: 500;
    letter-spacing: 5px;
}


@-webkit-keyframes move2 {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }
}

@-webkit-keyframes move {
    0% {
        left: -13px;
    }

    50% {
        left: 80%;
    }

    100% {
        left: 0px;
    }
}